@charset "UTF-8";
/* -*- coding: utf-8 -*- */
/* test/style-UTF-8.css (November 23, 2018)
 *
 * https://bitbucket.org/OPiMedia/vnu-scripts
 * GPLv3 --- Copyright (C) 2018
 * Olivier Pirson --- http://www.opimedia.be/
 */

body { margin: 1.4em; }

body > div {
    border: 1px solid black;
    margin-top: 1em;
    padding: 1em;
}


.float-right { float: right; }

.surname { font-variant: small-caps; }


a[href] {
  color: #2070b0;
  outline: none;
  text-decoration: none;
}
a[href]:visited { color: #104060; }
a[href]:focus,
a[href]:hover {
  color: #2070f0;
  text-decoration: underline;
}
a[href]:active { color: #002030; }
